/* Removing Nav bar bullets and setting margin and padding to 0 */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Making Nav bar horizontal and styling items */
li{
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 15px;
    padding-top: 16px;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
}

/* Splitting Nav bar into left and right sections */
.left{
    float: left;
}
.right{
    float: right;
}

/* Styling sign in button */
button{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    color: #fff;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #4387fd;
    font-size: 13px;
}

/* Centering logo */
.logo{
    display: flex;
    flex-flow: column;
    padding-top: 109px;
    margin: auto;
    width: 272px;
    height: 92px;      
}

/* Centering and styling search bar */
.search{
    display: flex;
    flex-flow: row;
    margin: auto;
    margin-top: 25px;
    width: 527px;
    line-height: 34px;
    border: 1px solid lightgray;
    border-radius: 25px;     
}

/* Splitting footer into left and right sections and placing them on the bottom */
.footer-left{
    float: left;
    margin-bottom: 0;
}
.footer-right{
    float: right;
    margin-bottom: 0;
}
